(
    dark_threads: 6,

    server_port: Some(3000),

    updates: [
        LongPollUpdate(
            token: "${TOKEN}",
        ),
//        WebhookUpdate(
//            path: "/bot/pull"
//        )

    ],

    route: RoundRobinLB(
        routes: [
            LongPollRoute(
                path: "/bot1/getUpdates"
            ),

            WebhookRoute(
                url: "${WH}"
            ),

            LongPollRoute(
                path: "/bot2/getUpdates"
            ),
        ]
    )

)